body {
  margin: auto;
  overflow: auto;
  font-family: "Ubuntu", Arial, sans-serif;
}

canvas {
  display: auto;
  overflow: auto;
}

#three-canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: -1; 
}

#description {
  position: auto;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  display: none;
}

#planet-table {
  position: fixed;
  top: calc(var(--cui-header-height) + 20px);
  right: 430px;
  /* background: rgba(255, 255, 255, 0.8); */
  /* background: rgb(52 52 52 / 80%); */
  padding: 10px;
  border-radius: 5px;
  font-family: sans-serif;
}

#planet-table table {
  width: 100%;
  border-collapse: collapse;
}

#planet-table th, #planet-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#planet-table th {
  background-color: #f2f2f2;
}

#planet-info {
  position: absolute;
  bottom: 60px;
  left: 20px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  display: none;
  font-family: sans-serif;
}

#back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
}

.content {
  padding: 20px;
}

.canvas-container{width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 3rem - 1px);
  overflow: hidden;
  min-height: 85vh !important;
}

.canvas-container canvas{
  width: 100% !important;
  height: calc(100% - calc(3rem + 1px)) !important;
}

.planetarium-products-table{
    width: 50vw;
    position: fixed;
    bottom: 10%;
    overflow: auto;
    left: 10px;
    
    @media (max-width: 1280px) {
			max-height: 55vh !important;
		}

		@media (max-width: 768px) {
			height: 40vh !important;
		}
}