// Here you can add other styles
.community-product-badge{
    float: right;
    font-weight: 100;
  }

  .community-product-btn-buy{
    float:right
  }

  .community-product-price{
    float:left;
    font-size: large;
    font-weight: 600;
  }

  .community-product-name{
    font-weight: 600;
  }