// Here you can add other styles
.community-product-badge{
    float: right;
    font-weight: 100;
  }

  .community-product-btn-buy{
    float:right
  }

  .community-product-price{
    float:left;
    font-size: large;
    font-weight: 600;
  }

  .community-product-name{
    font-weight: 600;
  }

  .community-product-image{
    height: 230px;
  }

  .float-right{
    float:right;
  }

  .my-account-photo-section{
    height: 95%;
  }

  .my-account-photo-section .img-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }