.expandable-row {
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.smooth-expand {
  transition: all 0.5s ease;
}

.internal-table {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
